<ion-header>
  <ion-toolbar>
    <ion-title>
      Chat D3
    </ion-title>
  </ion-toolbar>  
</ion-header>

<ion-content padding>
<ion-card *ngFor="let usuario of usuarios"(click)="onItemClick(usuarios)">
          <ion-item>
          <ion-label fixed>Digite um nome de usuário</ion-label>
          <ion-input type="text" value=""></ion-input>
          </ion-item>
          <ion-item>
          <ion-textarea placeholder=""></ion-textarea>
          </ion-item>
          
      <ion-buttons end>
          <button>
          OK
          </button>
      </ion-buttons>
</ion-card>
</ion-content>
